.Title-root-10 {
    text-align: left;
}

#home-content{
    width: 45vw
}
.upper-page {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 20px
}
.lower-page {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px
}

.mini-graphs {
    flex-direction: row;
    margin: 20px
    
}

/* .chart {

    border: 1px solid #5785C2;
    border-radius: 10px
} */