a:-webkit-any-link {
  color: #031D3F;
  text-decoration: none;
}

.nav-button {
  color: #141D42;
}
.logo {
    width: 36px;
    height: 36px;
    position: relative;
    top: -14px;
    left: 3px;
}

#navbar-logo {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  width: 130px;
  color: #141D42;
}

.MuiButton-root {
  background-color: #141D42
}

